host:
  url: http://52.79.237.119:8080
  ip: http://52.79.237.119
  port: 8080
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ikpharm12@gmail.com
    password: ifxo wria kusk jamh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    root: INFO
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE
