<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>매물다오 - 이전매물</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .info-item {
                margin-bottom: 7px; /* 항목 간 간격 */
            }
        </style>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content" style="background-color: snow !important; align-content: center" >
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 mb-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-4">
                                    <div class="form-group row g-2 mx-3 m-4">
                                        <div class="col-12 col-md-auto">
                                            <select class="form-select form-select-sm" id="categorySelect" required>
                                                <option value="">카테고리 선택</option>
                                            </select>
                                        </div>

                                        <div class="col-12 col-md">
                                            <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="검색어를 입력하세요">
                                        </div>

                                        <div class="col-12 col-md-auto">
                                            <button class="btn btn-dark btn-sm w-100" id="searchButton" type="button">검색</button>
                                        </div>
                                        <div class="col-12 col-md-auto">
                                            <button class="btn btn-primary btn-sm w-100" id="sortCreateDateButton" type="button">등록일순</button>
                                        </div>
                                        <div class="col-12 col-md-auto">
                                            <button class="btn btn-success btn-sm w-100" id="sortSaleDateButton" type="button">매각기일순</button>
                                        </div>

                                    </div>
                                </div>

                                <!-- 카드 렌더링 영역 -->
                                <div id="cardContainer">

                                </div>
                                <!-- 로딩 감지용 -->
                                <div id="loading" class="text-center mt-3">로딩 중...</div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <th:block th:replace="fragments/footer :: footer"></th:block>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/view/realEstate/realEstate.js}"></script>
        <script th:src="@{/js/view/common/common.js}"></script>
    </body>
</html>
