<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>엘 바이올린 - 채험레슨 예약내역</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/view/common/common.js}"></script>
        <script th:src="@{/js/view/fragments/header.js}"></script>
        <script th:src="@{/js/view/fragments/sidebar.js}"></script>
        <style>
            #loadingOverlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                z-index: 9999;
            }

            #loadingOverlay img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <div th:replace="fragments/header :: header"></div>
        <div id="layoutSidenav">
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div id="layoutSidenav_content">
                <main id="contents">
                    <div class="container-fluid px-4">
                        <div class="card m-4">
                            <div class="card-header" style="display: flex; justify-content: space-between;  align-items: center;">
                                <div>
                                    <i class="fas fa-table me-1"></i>
                                    체험레슨 예약내역
                                </div>

                                <button class="btn btn-primary mx-lg-1 btn-sm" id="addProductModalButton">등록</button>

                            </div>
                            <div class="card m-3 ">
                                <div class="form-group d-flex align-items-center gap-2 mx-3">
                                    <select class="form-select form-select-sm w-auto" id="categorySelect" required>
                                        <option value="">카테고리 선택</option>
                                    </select>
                                    <input type="text" class="form-control form-control-sm w-auto" id="searchInput" placeholder="검색어를 입력하세요">
                                    <button class="btn btn-dark m-3" id="searchButton" type="button">검색</button>
                                </div>
                            </div>
                            <div class="card-body" style="font-size: 10px">
                                <div class="datatable-container">

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <div id="loadingOverlay">
                    <img src="/loading.gif" alt="로딩 중...">
                </div>
                <!-- 추가 모달 -->
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="addModalLabel">매물등록</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label>이미지 입력 방법:</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="imageInputType" id="imageUrlOption" value="url" checked>
                                        <label class="form-check-label" for="imageUrlOption">이미지 URL</label>

                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="imageInputType" id="imageFileOption" value="file">
                                        <label class="form-check-label" for="imageFileOption">이미지 파일</label>
                                    </div>
                                </div>
                                <!-- 이미지 URL 입력 -->
                                <div class="form-group mb-3" id="imageUrlGroup">
                                    <label for="addProductImageUrl">이미지 URL:</label>
                                    <input type="text" class="form-control" id="addProductImageUrl">
                                </div>

                                <!-- 이미지 파일 입력 -->
                                <div class="form-group mb-3" id="imageFileGroup" style="display: none;">
                                    <label for="addProductImageFile">이미지 파일:</label>
                                    <input type="file" class="form-control" id="addProductImageFile" accept="image/*">
                                </div>

                                <label for="addProductMemo">메모:</label>
                                <input type="text" class="form-control mb-3" id="addProductMemo">

                                <label for="addProductNo">타경번호:</label>
                                <input type="text" class="form-control mb-3" id="addProductNo">

                                <label for="addProductCategory">물건종류:</label>
                                <input type="text" class="form-control mb-3" id="addProductCategory">

                                <label for="addProductLocation">소재지:</label>
                                <input type="text" class="form-control mb-3" id="addProductLocation">

                                <label for="addProductPrice">감정가:</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductPrice">

                                <label for="addProductCurrentPrice">현시세:</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductCurrentPrice">

                                <label for="addProductMinPrice">최저가:</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductMinPrice">

                                <label for="addProductExpectedPrice">예상가:</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductExpectedPrice">

                                <label for="addProductSaleDate">매각 기일:</label>
                                <input type="date" class="form-control mb-3" id="addProductSaleDate">

                                <label for="addProductManagerName">권리분석사:</label>
                                <input type="text" class="form-control mb-3" id="addProductManagerName">

                                <label for="addProductManagerPhone">상담전화:</label>
                                <input type="text" class="form-control mb-3" id="addProductManagerPhone">

                                <label for="addProductDescription">특이사항:</label>
                                <textarea class="form-control mb-3" id="addProductDescription"></textarea>

                                <label for="addProductLink">링크:</label>
                                <input type="text" class="form-control mb-3" id="addProductLink">

                                <label for="addProductDisplayDate">노출 날짜:</label>
                                <input type="date" class="form-control mb-3" id="addProductDisplayDate">
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-3 mb-3 gap-3">
                                <button type="button" id="addProductButton" class="btn btn-primary">등록</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="updateModalLabel">매물 수정</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="updateProductId">

                                    <div class="form-group mb-3">
                                        <label>이미지 입력 방법:</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="updateImageInputType" id="updateImageUrlOption" value="url" checked>
                                            <label class="form-check-label" for="updateImageUrlOption">이미지 URL</label>

                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="updateImageInputType" id="updateImageFileOption" value="file">
                                            <label class="form-check-label" for="updateImageFileOption">이미지 파일</label>
                                        </div>
                                    </div>
                                    <!-- 이미지 URL 입력 -->
                                    <div class="form-group mb-3" id="updateImageUrlGroup">
                                        <label for="updateProductImageUrl">이미지 URL:</label>
                                        <input type="text" class="form-control" id="updateProductImageUrl">
                                    </div>

                                    <!-- 이미지 파일 입력 -->
                                    <div class="form-group mb-3" id="updateImageFileGroup" style="display: none;">
                                        <label for="updateProductImageFile">이미지 파일:</label>
                                        <input type="file" class="form-control" id="updateProductImageFile" accept="image/*">
                                    </div>

                                    <label for="updateProductMemo">메모:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductMemo">

                                    <label for="updateProductNo">타경번호:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductNo">

                                    <label for="updateProductCategory">물건종류:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductCategory">

                                    <label for="updateProductLocation">소재지:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductLocation">

                                    <label for="updateProductPrice">감정가:</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductPrice">

                                    <label for="updateProductCurrentPrice">현시세:</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductCurrentPrice">

                                    <label for="updateProductMinPrice">최저가:</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductMinPrice">

                                    <label for="updateProductExpectedPrice">예상가:</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductExpectedPrice">

                                    <label for="updateProductSaleDate">매각 기일:</label>
                                    <input type="date" class="form-control mb-3" id="updateProductSaleDate">

                                    <label for="updateProductManagerName">권리분석사:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductManagerName">

                                    <label for="updateProductManagerPhone">상담전화:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductManagerPhone">

                                    <label for="updateProductDescription">특이사항:</label>
                                    <textarea class="form-control mb-3" id="updateProductDescription" style="height: 150px; resize: none;"></textarea>

                                    <label for="updateProductLink">링크:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductLink">

                                    <label for="updateProductDisplayDate">노출 날짜:</label>
                                    <input type="date" class="form-control mb-3" id="updateProductDisplayDate">

                                    <label for="updateProductMemberId">작성자:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductMemberId" readonly>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-4 mb-0 gap-3">
                                    <button type="button" id="updateProductButton" class="btn btn-primary">수정</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <th:block th:replace="fragments/footer :: footer"></th:block>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/view/reservation/reservationList.js}"></script>
    </body>
</html>
